.filter{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.filter__left .MuiSelect-select{
  color: black;
  font-size: 16px;
  padding: 18px 12px 8px 12px;
}
.filter__head{
  font-size: 20px;
}
.filter__menu{
  color: black;
  font-size: 16px;
  padding: 18px 12px 8px 12px;
}
