/* .box-hero{
    color: white;
    font-size: 100px;
    max-width: 80%;
    height: 100px;
    background-color: white;
    overflow: hidden;
    font-size: 1.5rem;
}
.box-hero > .MuiTabs-root > .MuiTab-root{
    font-size: 100px;

} */