.home-with-out-login-child {
    position: absolute;
    top: 91px;
    left: -1px;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1442px;
    height: 2px;
  }
  .frame-child {
    position: absolute;
    top: 446px;
    left: 6px;
    width: 1434px;
    height: 3px;
  }
  .icon-arrow-down2 {
    position: absolute;
    height: 0.68%;
    width: 1%;
    top: 23.72%;
    right: 3.08%;
    bottom: 75.6%;
    left: 95.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-child {
    border-radius: 47px;
    background-color: var(--color-white);
  }
  .group-child,
  .group-wrapper,
  .rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 1084px;
    height: 336px;
  }
  .group-wrapper {
    top: 51px;
    left: 178px;
    box-shadow: 0 4px 117px rgba(0, 0, 0, 0.37);
  }
  .inspirelearnshare,
  .welocme-to-barter,
  .you-can {
    position: absolute;
    top: 51px;
    left: 468px;
    display: inline-block;
    width: 402px;
    height: 55px;
  }
  .inspirelearnshare,
  .you-can {
    top: 159px;
    left: 257px;
    font-size: 40.03px;
    color: #493836;
    width: 140.74px;
    height: 60.05px;
    -webkit-text-stroke: 0.6px #000;
  }
  .inspirelearnshare {
    top: 202.79px;
    font-size: 56.3px;
    letter-spacing: 0.05em;
    font-family: var(--font-quintessential);
    color: #03182b;
    width: 560.47px;
    height: 75.69px;
  }
  .frame-item {
    position: absolute;
    top: 105px;
    left: 467px;
    border-top: 2px dashed var(--color-black);
    box-sizing: border-box;
    width: 376px;
    height: 2px;
  }
  .ellipse-icon,
  .frame-inner {
    position: absolute;
    top: 414px;
    left: 658px;
    width: 20px;
    height: 20px;
  }
  .ellipse-icon {
    top: 417px;
    left: 689px;
    width: 15px;
    height: 14px;
  }
  .frame-child1,
  .frame-child2,
  .frame-child3 {
    position: absolute;
    top: 417px;
    left: 715px;
    width: 14px;
    height: 14px;
  }
  .frame-child2,
  .frame-child3 {
    left: 741px;
    width: 15px;
  }
  .frame-child3 {
    top: 416px;
    left: 767px;
    width: 14px;
  }
  .rectangle-textarea {
    border: 0;
    background-color: #c61d1d;
    position: absolute;
    top: 126px;
    left: 963px;
    width: 230px;
    height: 230px;
  }
  .recommendation,
  .sort {
    position: absolute;
    top: 21px;
    left: 60px;
    font-size: var(--font-size-xl);
    font-family: var(--font-roboto);
    color: var(--color-black);
    text-align: left;
  }
  .sort {
    top: 0;
    font-size: var(--font-size-base);
    font-weight: 800;
  }
  .group-item {
    position: absolute;
    top: 16.5px;
    left: 59.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 34px;
    height: 1px;
  }
  .icon-arrow-down21,
  .icon-filter {
    position: absolute;
    height: 44.03%;
    width: 6.28%;
    top: 47.73%;
    right: 0;
    bottom: 8.24%;
    left: 93.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-filter {
    height: 63.64%;
    width: 21.76%;
    top: 13.64%;
    right: 79.08%;
    bottom: 22.73%;
    left: -0.84%;
  }
  .recommendation-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 476px;
    left: 1036px;
    width: 239px;
    height: 44px;
  }
  .line-parent {
    position: absolute;
    top: 92px;
    left: 0;
    background-color: #ddc0c0;
    width: 1440px;
    height: 2070px;
    overflow: hidden;
    font-size: 40px;
    font-family: var(--font-reem-kufi-fun);
  }
  .sign-up {
    position: absolute;
    top: calc(50% + 14px);
    left: calc(50% + 500px);
    font-size: var(--font-size-xl);
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }
  .group-child1,
  .group-child2,
  .group-inner,
  .rectangle-div {
    position: absolute;
    top: 575px;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--color-gray-200);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.53);
    width: 351px;
    height: 215px;
  }
  .group-child1,
  .group-child2,
  .rectangle-div {
    top: 864px;
  }
  .group-child1,
  .group-child2 {
    top: 1440px;
  }
  .group-child2 {
    top: 1153px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child3,
  .group-child4,
  .group-child5,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    position: absolute;
    top: 1729px;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--color-gray-200);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.53);
    width: 351px;
    height: 215px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child4,
  .group-child5,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    top: 575px;
    left: 395px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child5,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    top: 864px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    top: 1440px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child7,
  .group-child8,
  .group-child9 {
    top: 1153px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child8,
  .group-child9 {
    top: 1729px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child9 {
    top: 575px;
    left: 791px;
  }
  .group-child10,
  .group-child11,
  .group-child12,
  .group-child13 {
    top: 864px;
  }
  .group-child11,
  .group-child12,
  .group-child13 {
    top: 1440px;
  }
  .group-child12,
  .group-child13 {
    top: 1153px;
  }
  .group-child13 {
    top: 1729px;
  }
  .username,
  .username1,
  .username2,
  .username3 {
    position: absolute;
    top: 802px;
    left: 44px;
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }
  .username1,
  .username2,
  .username3 {
    top: 1092px;
  }
  .username2,
  .username3 {
    top: 1379px;
  }
  .username3 {
    top: 1670px;
  }
  .username4,
  .username5,
  .username6,
  .username7,
  .username8,
  .username9 {
    position: absolute;
    top: 1957px;
    left: 44px;
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }
  .username5,
  .username6,
  .username7,
  .username8,
  .username9 {
    top: 803px;
    left: 438px;
  }
  .username6,
  .username7,
  .username8,
  .username9 {
    top: 1093px;
  }
  .username7,
  .username8,
  .username9 {
    top: 1669px;
  }
  .username8,
  .username9 {
    top: 1380px;
  }
  .username9 {
    top: 1956px;
  }
  .username10,
  .username11,
  .username12,
  .username13,
  .username14 {
    position: absolute;
    top: 802px;
    left: 832px;
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }
  .username11,
  .username12,
  .username13,
  .username14 {
    top: 1092px;
  }
  .username12,
  .username13,
  .username14 {
    top: 1668px;
  }
  .username13,
  .username14 {
    top: 1379px;
  }
  .username14 {
    top: 1955px;
  }
  .group-child14,
  .group-child15,
  .group-child16 {
    position: absolute;
    top: 793px;
    left: 2px;
    width: 47px;
    height: 47px;
  }
  .group-child15,
  .group-child16 {
    top: 1083px;
  }
  .group-child16 {
    top: 1370px;
  }
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    position: absolute;
    top: 1661px;
    left: 2px;
    width: 47px;
    height: 47px;
  }
  .group-child18,
  .group-child19,
  .group-child20 {
    top: 1948px;
  }
  .group-child19,
  .group-child20 {
    top: 794px;
    left: 396px;
  }
  .group-child20 {
    top: 1084px;
  }
  .group-child21,
  .group-child22,
  .group-child23,
  .group-child24 {
    position: absolute;
    top: 1660px;
    left: 396px;
    width: 47px;
    height: 47px;
  }
  .group-child22,
  .group-child23,
  .group-child24 {
    top: 1371px;
  }
  .group-child23,
  .group-child24 {
    top: 1947px;
  }
  .group-child24 {
    top: 793px;
    left: 790px;
  }
  .group-child25,
  .group-child26,
  .group-child27,
  .group-child28 {
    position: absolute;
    top: 1083px;
    left: 790px;
    width: 47px;
    height: 47px;
  }
  .group-child26,
  .group-child27,
  .group-child28 {
    top: 1659px;
  }
  .group-child27,
  .group-child28 {
    top: 1370px;
  }
  .group-child28 {
    top: 1946px;
  }
  .title-name,
  .title-name1,
  .title-name2,
  .title-name3,
  .title-name4,
  .title-name5,
  .title-name6 {
    position: absolute;
    top: 588px;
    left: 22px;
    font-size: var(--font-size-base);
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }
  .title-name1,
  .title-name2,
  .title-name3,
  .title-name4,
  .title-name5,
  .title-name6 {
    top: 1455px;
  }
  .title-name2,
  .title-name3,
  .title-name4,
  .title-name5,
  .title-name6 {
    top: 1745px;
  }
  .title-name3,
  .title-name4,
  .title-name5,
  .title-name6 {
    top: 878px;
  }
  .title-name4,
  .title-name5,
  .title-name6 {
    top: 1168px;
  }
  .title-name5,
  .title-name6 {
    top: 588px;
    left: 420px;
  }
  .title-name6 {
    top: 1455px;
  }
  .title-name10,
  .title-name11,
  .title-name12,
  .title-name13,
  .title-name14,
  .title-name7,
  .title-name8,
  .title-name9 {
    position: absolute;
    top: 1745px;
    left: 420px;
    font-size: var(--font-size-base);
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }
  .title-name10,
  .title-name11,
  .title-name12,
  .title-name13,
  .title-name14,
  .title-name8,
  .title-name9 {
    top: 878px;
  }
  .title-name10,
  .title-name11,
  .title-name12,
  .title-name13,
  .title-name14,
  .title-name9 {
    top: 1168px;
  }
  .title-name10,
  .title-name11,
  .title-name12,
  .title-name13,
  .title-name14 {
    top: 588px;
    left: 814px;
  }
  .title-name11,
  .title-name12,
  .title-name13,
  .title-name14 {
    top: 1455px;
  }
  .title-name12,
  .title-name13,
  .title-name14 {
    top: 1745px;
  }
  .title-name13,
  .title-name14 {
    top: 878px;
  }
  .title-name14 {
    top: 1168px;
  }
  .vector-icon {
    position: absolute;
    height: 0.84%;
    width: 1.58%;
    top: 40.51%;
    right: 77.67%;
    bottom: 58.64%;
    left: 20.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-heart,
  .icon-heart1,
  .icon-heart2,
  .icon-heart3,
  .icon-heart4,
  .icon-heart5,
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    position: absolute;
    height: 1.75%;
    width: 3.15%;
    top: 54.89%;
    right: 76.88%;
    bottom: 43.36%;
    left: 19.96%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-heart1,
  .icon-heart2,
  .icon-heart3,
  .icon-heart4,
  .icon-heart5,
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    top: 83.96%;
    bottom: 14.3%;
  }
  .icon-heart2,
  .icon-heart3,
  .icon-heart4,
  .icon-heart5,
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    top: 69.37%;
    bottom: 28.88%;
  }
  .icon-heart3,
  .icon-heart4,
  .icon-heart5,
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    top: 98.44%;
    bottom: -0.19%;
  }
  .icon-heart4,
  .icon-heart5,
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    top: 40.31%;
    right: 42.38%;
    bottom: 57.94%;
    left: 54.47%;
  }
  .icon-heart5,
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    top: 54.94%;
    bottom: 43.31%;
  }
  .icon-heart6,
  .icon-heart7,
  .icon-heart8 {
    top: 84.01%;
    bottom: 14.24%;
  }
  .icon-heart7,
  .icon-heart8 {
    top: 69.42%;
    bottom: 28.83%;
  }
  .icon-heart8 {
    top: 98.49%;
    bottom: -0.24%;
  }
  .icon-eye,
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4,
  .icon-heart10,
  .icon-heart11,
  .icon-heart12,
  .icon-heart13,
  .icon-heart9 {
    position: absolute;
    height: 1.75%;
    width: 3.15%;
    top: 40.26%;
    right: 7.88%;
    bottom: 57.99%;
    left: 88.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-eye,
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4,
  .icon-heart10,
  .icon-heart11,
  .icon-heart12,
  .icon-heart13 {
    top: 54.89%;
    bottom: 43.36%;
  }
  .icon-eye,
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4,
  .icon-heart11,
  .icon-heart12,
  .icon-heart13 {
    top: 83.96%;
    bottom: 14.3%;
  }
  .icon-eye,
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4,
  .icon-heart12,
  .icon-heart13 {
    top: 69.37%;
    bottom: 28.88%;
  }
  .icon-eye,
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4,
  .icon-heart13 {
    top: 98.44%;
    bottom: -0.19%;
  }
  .icon-eye,
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4 {
    height: 1.61%;
    width: 3.52%;
    top: 40.36%;
    right: 72.4%;
    bottom: 58.02%;
    left: 24.08%;
  }
  .icon-eye1,
  .icon-eye2,
  .icon-eye3,
  .icon-eye4 {
    top: 54.99%;
    bottom: 43.39%;
  }
  .icon-eye2,
  .icon-eye3,
  .icon-eye4 {
    top: 84.06%;
    bottom: 14.33%;
  }
  .icon-eye3,
  .icon-eye4 {
    top: 69.48%;
    bottom: 28.91%;
  }
  .icon-eye4 {
    top: 98.54%;
    bottom: -0.15%;
  }
  .icon-eye10,
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14,
  .icon-eye5,
  .icon-eye6,
  .icon-eye7,
  .icon-eye8,
  .icon-eye9 {
    position: absolute;
    height: 1.61%;
    width: 3.52%;
    top: 40.41%;
    right: 37.9%;
    bottom: 57.97%;
    left: 58.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-eye10,
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14,
  .icon-eye6,
  .icon-eye7,
  .icon-eye8,
  .icon-eye9 {
    top: 55.05%;
    bottom: 43.34%;
  }
  .icon-eye10,
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14,
  .icon-eye7,
  .icon-eye8,
  .icon-eye9 {
    top: 84.11%;
    bottom: 14.28%;
  }
  .icon-eye10,
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14,
  .icon-eye8,
  .icon-eye9 {
    top: 69.53%;
    bottom: 28.86%;
  }
  .icon-eye10,
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14,
  .icon-eye9 {
    top: 98.59%;
    bottom: -0.2%;
  }
  .icon-eye10,
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14 {
    top: 40.36%;
    right: 3.4%;
    bottom: 58.02%;
    left: 93.08%;
  }
  .icon-eye11,
  .icon-eye12,
  .icon-eye13,
  .icon-eye14 {
    top: 54.99%;
    bottom: 43.39%;
  }
  .icon-eye12,
  .icon-eye13,
  .icon-eye14 {
    top: 69.48%;
    bottom: 28.91%;
  }
  .icon-eye13,
  .icon-eye14 {
    top: 83.96%;
    bottom: 14.43%;
  }
  .icon-eye14 {
    top: 98.54%;
    bottom: -0.15%;
  }
  .icon-bookmark,
  .icon-bookmark1,
  .icon-bookmark2,
  .icon-bookmark3,
  .icon-bookmark4,
  .icon-bookmark5,
  .icon-bookmark6,
  .icon-bookmark7 {
    position: absolute;
    height: 2.3%;
    width: 2.89%;
    top: 28.86%;
    right: 70.49%;
    bottom: 68.84%;
    left: 26.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-bookmark1,
  .icon-bookmark2,
  .icon-bookmark3,
  .icon-bookmark4,
  .icon-bookmark5,
  .icon-bookmark6,
  .icon-bookmark7 {
    top: 72.6%;
    bottom: 25.1%;
  }
  .icon-bookmark2,
  .icon-bookmark3,
  .icon-bookmark4,
  .icon-bookmark5,
  .icon-bookmark6,
  .icon-bookmark7 {
    top: 87.24%;
    bottom: 10.47%;
  }
  .icon-bookmark3,
  .icon-bookmark4,
  .icon-bookmark5,
  .icon-bookmark6,
  .icon-bookmark7 {
    top: 43.49%;
    bottom: 54.21%;
  }
  .icon-bookmark4,
  .icon-bookmark5,
  .icon-bookmark6,
  .icon-bookmark7 {
    top: 58.12%;
    bottom: 39.58%;
  }
  .icon-bookmark5,
  .icon-bookmark6,
  .icon-bookmark7 {
    top: 28.86%;
    right: 36.08%;
    bottom: 68.84%;
    left: 61.03%;
  }
  .icon-bookmark6,
  .icon-bookmark7 {
    top: 72.6%;
    bottom: 25.1%;
  }
  .icon-bookmark7 {
    top: 87.24%;
    bottom: 10.47%;
  }
  .icon-bookmark10,
  .icon-bookmark11,
  .icon-bookmark12,
  .icon-bookmark13,
  .icon-bookmark14,
  .icon-bookmark8,
  .icon-bookmark9 {
    position: absolute;
    height: 2.3%;
    width: 2.89%;
    top: 43.49%;
    right: 36.08%;
    bottom: 54.21%;
    left: 61.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-bookmark10,
  .icon-bookmark11,
  .icon-bookmark12,
  .icon-bookmark13,
  .icon-bookmark14,
  .icon-bookmark9 {
    top: 58.12%;
    bottom: 39.58%;
  }
  .icon-bookmark10,
  .icon-bookmark11,
  .icon-bookmark12,
  .icon-bookmark13,
  .icon-bookmark14 {
    top: 60.39%;
    right: 0.09%;
    bottom: 37.31%;
    left: 97.02%;
  }
  .icon-bookmark11,
  .icon-bookmark12,
  .icon-bookmark13,
  .icon-bookmark14 {
    top: 28.86%;
    right: 1.14%;
    bottom: 68.84%;
    left: 95.97%;
  }
  .icon-bookmark12,
  .icon-bookmark13,
  .icon-bookmark14 {
    top: 72.6%;
    bottom: 25.1%;
  }
  .icon-bookmark13,
  .icon-bookmark14 {
    top: 87.24%;
    bottom: 10.47%;
  }
  .icon-bookmark14 {
    top: 43.49%;
    bottom: 54.21%;
  }
  .line-icon {
    position: absolute;
    top: -1.5px;
    left: 167px;
    width: 72px;
    height: 3px;
  }
  .sign-up-parent {
    position: absolute;
    top: calc(50% - 1016px);
    left: calc(50% - 571px);
    width: 1142px;
    height: 1982px;
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  .home-with-out-login-item {
    position: absolute;
    top: 0;
    left: 3px;
    background-color: #d9d9d9;
    width: 1440px;
    height: 92px;
  }
  .home-with-out-login-inner {
    position: absolute;
    top: 31px;
    left: 1111px;
    border-radius: var(--br-md);
    background-color: var(--color-gray-100);
    width: 90px;
    height: 38px;
  }
  .log-in {
    position: absolute;
    top: 39px;
    left: 1127px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .home-with-out-login-child1 {
    position: absolute;
    top: 31px;
    left: 1213px;
    border-radius: var(--br-md);
    background-color: var(--color-gray-100);
    width: 90px;
    height: 38px;
  }
  .blog,
  .explore,
  .home,
  .learn {
    position: absolute;
    top: 39px;
    left: 319px;
    display: inline-block;
    width: 66px;
  }
  .blog,
  .explore,
  .learn {
    left: 437px;
    font-weight: 500;
    width: 82px;
  }
  .blog,
  .learn {
    left: 671px;
  }
  .blog {
    left: 570px;
    width: 59px;
  }
  .icon-bell,
  .icon-search {
    position: absolute;
    height: 1.43%;
    width: 1.76%;
    top: 1.6%;
    right: 23.9%;
    bottom: 96.97%;
    left: 74.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon-search {
    height: 1.3%;
    width: 1.83%;
    top: 1.67%;
    right: 26.92%;
    bottom: 97.04%;
    left: 71.25%;
  }
  .ils-1-1 {
    position: absolute;
    top: 22px;
    left: 149px;
    width: 138px;
    height: 56px;
    object-fit: cover;
  }
  .group-child29 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--color-gray-100);
    width: 133px;
    height: 41px;
  }
  .upload {
    position: absolute;
    top: 8px;
    left: 33px;
    font-size: 22px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-white);
    text-align: left;
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 30px;
    left: 867px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.53);
    width: 133px;
    height: 41px;
  }
  .sign-up1 {
    position: absolute;
    top: 39px;
    left: 1223px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .home-with-out-login {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2162px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-2xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  