
/* Main - post - Container */
.home-posts-container{
  padding: 0 60px;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  list-style: none;
  margin-top: 30px;
}