.main-signin{
    display: grid;
    place-content: center;
    height: 89.3vh;
    background-color: #0f0c27;
}
.signin{
    display: flex;
    height: 82vh;
    width: 60vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.signin-left{
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    background: rgb(253, 29, 29);
    background: linear-gradient(147deg, rgba(253, 29, 29, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(47, 135, 177, 1) 81%);
    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: -1px 0px 30px -1px black;
}


/* Right div  */
.signin-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 50%;
    color: white;
    /* background: rgb(47, 135, 177);
    background: linear-gradient(147deg, rgba(47, 135, 177, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(253, 29, 29, 1) 81%); */
    background: rgb(253, 29, 29);
    background: linear-gradient(-147deg, rgba(253, 29, 29, 1) 0%, rgba(131, 58, 180, 1) 46%, rgba(47, 135, 177, 1) 81%);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -1px 0 0 -1px black;
    margin-left: 10px;
}
.signin__rightHead{
    padding: 10px 50px;
}
.signin__rightHead > h1{
    font-size: 34px;
}
.signin__rightHead > p{
    font-size: 15px;
}
.signin__rightHead > p > a{
    color: red;
    font-weight: 700;
    cursor: pointer;
}


.signin__formContainer{
    padding: 10px 50px;

}
.signin__formContainer > form > h1{
    margin-top: 0px;
}
.signin__formContainer > form > input {
    width: 16vw;
    border-bottom: 2px solid black;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(219, 219, 219, 0.523);
    outline-width: 0;
    color: white;
    margin: 0px 0px 8px 0px;
}

/* Button  */
.signin__formContainer > form > button{
    border: 1px solid white;
    width: 100px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 12px 0px;
}

.signin__formContainer > form > button:hover{
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    transition: 0.2s;
}

.signin__formContainer > form > p{
    font-size: 15px;
    margin-top: 10px;
}

.signin__formContainer > form  >p>a{
    color: rgb(0, 183, 255);
    font-weight: 700;
}

.signin__formContainer > form ::placeholder{
    color: rgba(219, 219, 219, 0.523);
}