* {
    padding: 0px;
    margin: 0px
}


/* main - upload div  */
.upload__mainBox {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}


/* left side upload page  */

.upload__left {
    flex: 35;
    display: flex;
    flex-flow: column wrap;
    margin-left: 20px;
}

/* 1 - content upload icons  */
.upload__leftContent {
    display: flex;
    flex-flow: column wrap;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
}

.upload__leftContent ul {
    display: flex;
    flex-flow: row wrap;
}

.upload__leftHead {
    padding: 16px 0px 8px 17px;
    color: rgb(83, 83, 83);
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.upload__leftIcons {
    position: relative;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    height: 100px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: rgb(99, 99, 99);
    cursor: pointer;
}

.upload__leftIcons>input {
    position: absolute;
    opacity: 0;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 130px;
    cursor: pointer;
    background-color: white;
}

.upload__leftIcons .MuiSvgIcon-root {
    font-size: 22px;
    margin: 5px;
}

/* 2- Left attachment upload */
.upload__leftAttach {
    display: flex;
    flex-flow: column wrap;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    max-width: 390px;
}


.upload__leftAttachInner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.upload__leftAttachInner p {
    padding: 15px 30px 5px 30px;
    text-align: center;
}

.upload__leftAttachInner>button {
    padding: 5px 25px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: rgb(99, 99, 99);
}

.upload__leftAttachInner button span {
    margin-right: 8px;
}

.upload__leftAttachInner>button:hover {
    background-color: black;
    color: white;
}

.upload__leftAttachSettings>ul {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    height: fit-content;
}

.upload__leftAttachSettings>ul>li {
    position: relative;
    border-right: 1px solid #eee;
    height: 100px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: rgb(99, 99, 99);
}

.upload__leftAttachSettings > ul > li > a > .MuiSvgIcon-root {
    cursor: pointer;
    font-size: 40px;
    padding: 7px 0px;
    color: rgb(99, 99, 99);
}

/* 3 - left bottom box for upload  */
.upload__leftAttach_end {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: fit-content;
    max-width: 390px;
    margin-top: 20px;
    padding: 16px;
    background-color: white;
}

.upload__leftAttach_end>a {
    position: relative;
    width: 100%;
}

.upload__leftAttach_end>a>button {
    width: 100%;
    padding: 4px 5px;
    border-radius: 20px;
    margin-top: 8px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.upload__leftAttach_end>a>button:hover {
    background-color: black;
    color: white;
}


/* Right side of upload page */
.upload__right {
    flex: 75;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 30px 20px 30px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(99, 99, 99);
    height: 93.6vh;
    overflow: hidden;
    font-size: 17px;
}

.upload__rightContent {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.upload__rightIcons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.upload__rightIcons>h1 {
    font-size: 13px;
    margin-top: 20px;
    align-self: center;
}

.upload__rightInner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: none;
    background-color: aliceblue;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    cursor: pointer;
}

.upload__rightInner:hover {
    background-color: rgb(216, 229, 236);
    transition: 175ms;
}

.upload__rightInner> .MuiSvgIcon-root{
    font-size: 25px;
    color: rgb(0, 223, 223);
}