* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.settings_outer_div {
    align-items: center;
    background: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.setting_body {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-height: 80vh;
    min-width: 0;
    text-align: left;
    min-width: 65vw;
    min-height: 80vh;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
}

/* Main body  */
.setting_mainBody {
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    justify-content: space-between;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    overflow-y: scroll;
    height: 65vh;
}

/* left div  */
.settings_left_div {
    flex: 40;
    display: flex;
    flex-flow: column wrap;
    width: 65px;
}

.settings_image_div {
    border: 5px;

}

/* setting left side  */
.settings_left_div {
    display: flex;
    align-items: flex-start;
    flex: 40;
    border-right: 1px solid #e8e8e8;
    padding: 30px;
    padding-right: 60px;
}

.settings_left_div>h3 {
    font-family: inherit;
    font-size: 7px;
    line-height: 1.3;
    display: block;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
}

.settings_left_div>h3>span {
    color: rgb(88, 88, 88);
}

.settings_image_div {
    font-size: 7px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 1px dashed #b7b7b7;
    min-height: 230px;
    min-width: 270px;
    padding: 10px;
}

.settings_image_div>button {
    margin-top: 30px;
    margin-bottom: 100px;
    background: #0057ff;
    border-color: transparent;
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

.settings_image_div>p {
    font-size: 15px;
    color: rgb(88, 88, 88);
}

/* setting right side  */
.settings_right_div {
    padding: 20px 30px;
    text-align: left;
    flex: 60;
}

.settings_rightInput>p {
    font-size: 13px;
    font-weight: 800;
}

.settings_rightInput>p>span {
    color: rgb(88, 88, 88);
    margin-left: 5px;
}

.settings_rightInput>input {
    height: 50px;
    border: 1px solid rgb(155, 155, 155);
    width: 100%;
    padding: 0px 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 0.2s;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
}

.settings_rightInput>input:hover {
    border: 1px solid rgb(63, 63, 63);
}

/* Right check box  */
.settings_rightCheckbox {
    display: flex;
    flex-flow: column wrap;
}

.settings_rightCheckbox>p {
    font-size: 13px;
    font-weight: 800;
}

.settings_rightCheckbox>ul {
    display: flex;
    flex-flow: row wrap;
    margin-top: 12px;
}

.settings_rightCheckbox>ul>li {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 210px;
    height: 100px;
}
.settings_rightCheckbox>ul>li>div {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 8px;
}
.settings_rightCheckbox>ul>li>div>p {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(39, 39, 39);
}
.settings_rightCheckbox>ul>li>div>input {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(67, 67, 67);
    height: 19px;
}
.settings_rightSelecter>form>p{
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 12px;
}
.settings_rightSelecter>form>select{
    font-size: 10px;
    padding-left: 10px;
    width: 50%;
    height: 40px;
    margin-bottom: 40px;
}
.settings_rightSelecter>form>select>option{
    height: 20px;
    width: 50%;
}
.settings_rightSelecter>form>select>option:hover{
    height: 20px;
    background-color: pink;
    width: 50%;
}

/* Main Buttons  */
.settings_mainButton {
    margin: 30px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.settings_mainButton>div>a>button {
    margin-left: auto;
    padding: 10px 18px;
    font-size: 9px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 700;
    margin-left: 5px;
}
.settings_mainButton>div>a{
    text-decoration: none;
    border: none;
}

.settings_btn1>button {
    border-color: transparent;
    background-color: white;
    cursor: pointer;
}

.settings_btn2>button {
    background: #0057ff;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.settings_btn3>button {
    background: #339100;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}